name: CI

on:
  push:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  CI:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup do NodeJS
      uses: actions/setup-node@v3.6.0
      with: 
        node-version: 16.13.2

    - name: Instalação do Mocha e dos pacotes para teste
      run: |
        cd proj-conversao-temperatura/src;
        npm install -g mocha;
        npm install;

    - name: Execução do teste
      run: mocha proj-conversao-temperatura/src/test/convert.js;

    - name: Autenticação do Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}

    - name: Construção da imagem Docker
      uses: docker/build-push-action@v4.0.0
      with:
        context: proj-conversao-temperatura/src
        file: proj-conversao-temperatura/src/Dockerfile
        push: true
        tags: |
          carolahn/proj-conversao-temperatura:v1
          carolahn/proj-conversao-temperatura:latest
